<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta  name="viewport" content="width=device-width,initial-scale=1.0">
	<meta http-equiv="X-UA-Compatiable" content="ie=edge">
	<title>Login System</title>
	<link rel="stylesheet" type="text/css" href="admin_login.css">
</head>
<body>

    <div class="hero">
        <div class="form-box">
            <div class="button-box">
                <div id="btn"></div>
                <button type="button" class="toggle-btn" onclick="login()">Log In</button>

            </div>
                    
            <form id="login" class="input-group">
                <input type="text" name="input-field" class="input-field" placeholder="User Id" required="">
                <input type="text" name="input-field" class="input-field" placeholder="Enter Password" required="">

                <input type="checkbox" name="check-box"> <span>Remember Password</span>
                <button type="submit" class="submit-btn">Log In</button>
            </form>

            </div>
            </div>
            <script>
                var x = document.getElementById("login");
                
        
               
                function login(){
                    x.style.left = "50px";
                    y.style.left = "450px";
                    z.style.left = "0px";
                }
            </script>

    </body>
    </html>