{% load static %}
{% static "images" as baseUrl  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Detail</title>
    <link rel="stylesheet" href="{% static './css/read4.css' %}">
</head>
<body>
    <div class="box">
        <div class="imgBx">
            <img src="{% static './images/building4.jpg' %}">
        </div>
        <div class="content">
            <h1>Rent Number : 4</h1>
            <br>
            <h2>Room in Kathmandu,Balaju</h2>
            <p>Location: Kathmandu,Balaju<br>
                Transaction Type: Rent<br>
                Property Type: Bungalow - Residential<br>
                Status: Available<br>
                District: Kathmandu<br>
                <br>
                <b>Overview</b><br>
                -   Beautiful Semi Furnished Bungalow<br>
                -	Inside Ringroad <br>
                -	Secured Society<br>
                -	Master Bedroom with Attached Bathroom<br>
                -	2500 sq.ft House Area<br>
                -	5 Bedroom<br>
                -	Living Hall <br>
                -	2.5 Story Bungalow<br>
                -	Separate Servant House<br>
                -	Parking Facility <br>
                -	Just 50 Mtrs. From Main Road<br>
                -	12 Ft. Black Topped Access Road<br>
                -	East Facing Bungalow<br>
                <br>
                <b>Facilities and Amenities</b><br>                                                                                       
                •	Water Supply<br>
                •	Electricity<br>
                •	Cable TV<br>
                •	Parking<br>
                •	Garbage disposal<br>
                •	Telephone<br>
                •	Well<br>
                <br>
                <b>Owner Information</b><br>
                Name: Bhakta Phuyal<br>
                Phone no: 9840898764<br>
                Location: Kathmandu,Balaju<br>
                </p>
        </div>
    </div>
</body>
</html>