/* fonts  */
@font-face {
    font-family:"Raleway-regular";
    src:url(../fonts/Raleway-Regular.ttf)
}
@font-face {
    font-family:"Raleway-medium";
    src:url(../fonts/Raleway-Medium.ttf)
}
@font-face {
    font-family:"Raleway-bold";
    src:url(../fonts/Raleway-Bold.ttf)
}
@font-face {
    font-family:"Raleway-extrabold";
    src:url(../fonts/Raleway-ExtraBold.ttf)
}
@font-face {
    font-family:"Raleway-semibold";
    src:url(../fonts/Raleway-SemiBold.ttf)
}
@font-face {
    font-family:"Raleway-black";
    src:url(../fonts/Raleway-Black.ttf)
}

/* colors  */

:root {
    --primary:#EEBF00;
    --secondary:#232B38;
    --ternary:#6C6C6C;
    --danger:#FE4545;
    --pure:#FEFEFE;
    --light:#F0F0F0;
    --heaven:#FFFFFF;
    --footer:#2D333F;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    -webkit-font-smoothing:antialiased;
    font-family: "Raleway-regular";
    overflow-x: hidden;
    width: 100%;
    background-color: yellowgreen;
}
.container {
    width:100%;
    padding:o 15px;
    margin:0 auto;
    
}

@media (min-width:576px){
    .container{
        max-width:540px;
    }
}
@media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1152px;
    }
  }


.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    padding: 20px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    display: flex;
}
.box .imgBx{
    width: 200px;
    flex: 0 0 200px;

}
.box .imgBx img{
    max-width: 100%;
}
.box .content{
    padding-left: 100px;
}
.box .content h2{
    margin: 0;
    padding-left: 0;
    color:var(--primary) ;
    font-size: 18px;

}
.box .content p{
    margin: 0;
    padding: 10px 0;
    text-align: justify;
    font-size: 12px;
}
